body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;


}

.form {
  &.MuiPrivateNotchedOutline-root-98 {
    border-color: red
  }

  fieldset {
    background: grey;
    border-color: red
  }
}


a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}

html {
  background-image: url('https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&h=350');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex {
  display: flex;

  &-header {
    color: red
  }
}



.droggable {
  &.dragging>* {

    opacity: 0;
  }

  &.dragging {
    &.card {
      margin: 5px;

      ;
    }

    &.column {
      background: #00000075;
    }

  }
}

.overflow {
  overflow: auto;

  &.vertical {
    max-height: 60vh;
  }

  &.horizontal {
    max-width: 100vw
  }
}

.table {



  &.column {
    background-color: #dfe3e6;
    min-width: 20vw;
    margin: 1vw;

    // &.dragging>* {

    //   opacity: 0;
    // }

    // &.dragging {


    //   background: #b1b8bd;
    // }

    .altForm {
      &:hover {
        background: rgba(9, 45, 66, .13);

        p {
          text-decoration: underline;
        }
      }
    }
  }


  &.add {
    height: fit-content;
    background-color: rgba(0, 0, 0, .24);
    min-width: 20vw;
    width: 20vw;
    padding: 10px;

    &:hover {
      background: rgba(0, 0, 0, .32);

      p {
        // p {
        text-decoration: underline;
        // }
      }
    }
  }
}

.row {
  flex-direction: row
}

.card {
  margin: 5px;
}

.table {
  background: grey;

  // .header {
  //   color: #dfe3e6;
  //   background: #dfe3e6;
  //   width: auto;
  //   text-align: center;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: baseline;
  // }

  .header {

    display: flex;


    justify-content: space-between;


  }
}